<div class="page-content">
      <!-- carousel -->
      <div style="text-align: center; background-color: #fff; padding-bottom:1%; padding-left: 2%; padding-right: 2%;">
         <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
               <a href="#tab1-panel" class="mdl-tabs__tab is-active">Step 1</a>
               <a href="#tab2-panel" class="mdl-tabs__tab">Step 2</a>
               <a href="#tab3-panel" class="mdl-tabs__tab">Step 3</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="tab1-panel">
               <p>
               <div style="display: inline-block; width: 300px; height: 300px; padding-top:20px !important; padding-bottom :40px !important;">
               <img style='border:1px solid #fff' src="images/play1.jpg" width="300px"></img>
               <h6>1. Open Minecraft PC client on Windows, Mac or Linux, then choose "Multiplayer" mode.</h6>
               </div>
               </p>
            </div>
            <div class="mdl-tabs__panel" id="tab2-panel">
               <p>
      <div style="display: inline-block; width: 300px; height: 300px; padding-top:20px !important; padding-bottom :40px !important;">
      <img style='border:1px solid #fff' src="images/play2.jpg" width="300px"></img>
      <h6>2. Click the "Add Server" button, simply put <b>m.ly</b> as server address. Click "Done".</h6>
      </div>
               </p>
            </div>
            <div class="mdl-tabs__panel" id="tab3-panel">
               <p>
      <div style="display: inline-block; width: 300px; height: 300px; padding-top:20px !important; padding-bottom :40px !important;">
      <img style='border:1px solid #fff' src="images/play3.jpg" width="300px"></img>
      <h6>3. That's it! Your world is automagically accessible by anyone via the address <b>(username).m.ly</b></h6>
      </div>
               </p>
            </div>
            
            <h6><b><a href="http://mc.ly/demo" target="_blank">Don't know what Minecraft is yet? Try it out for free!</a></b></h6>
            
         </div>
      </div>
      <!-- /carousel -->
      <!-- /content -->